@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;500&display=swap");

:root {
    font-family: "Red Hat Text", sans-serif;
    color: white
}
::-webkit-scrollbar {
  width: 5px; 
}


::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 6px; 
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
main {
  background-image: url('/11740828_4824750.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

#comics-display, #characters-display {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
    justify-content: center;
}

.comic-card, .character-card {
   
    background-color: white;
    margin-top: 25px;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    border: 1px solid black;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.5);
    padding: 0px;
    transition: all 0.3s;
}
.character-pic {
  border-radius: 100%;
  scale: 1.1;
  
}
.character-card {
  border-radius: 100%;
  text-align: center;
  height: 200px;
  width: 200px;
  box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.9);
}
.comic-card {
  
  scale:0.95;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.5);
}
.comic-card:hover, .character-card:hover {
    transform: translateY(-20px);
    box-shadow: 0 30px 30px 10px rgba(0, 0, 0, 0.8);
}

.comic-text, .character-text {
    z-index: 1000;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    position: absolute;
    transform: translateY(-60px);
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
    font-size: 20px;
    white-space: nowrap;
}

#comic-dialog, #character-dialog {
    padding: 20px;
    font-size: 10px;
    overflow: auto;
    overflow-x: hidden;
    z-index: 1000;
    color: black;
    background-color: white;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 300px;
    height: 400px;
    inset: 0;
    border: 1px solid black;
    box-shadow: 0px 0px 500px rgba(0, 0, 0, 0.7);
}

img {
    pointer-events: none;
}
.comic-card img {
  scale: 1.085;
  transform: translateY(5px) 
}
.close {
    position: absolute;
    right: 10px;
    top: 10px;
    pointer-events: all;
    cursor: pointer;
}

.modal-chars {
    width: 100%;
    list-style: none;
}

.modal-chars * {
    font-size: 15px;
    text-decoration: none;
    color: blue;
    cursor: pointer;
    width: max-content;
}

button {
  width: 60px;
  height: 30.5px;

}

#search {
  margin:  0 auto
}

.modal-chars {
  height: 200px;
  pointer-events:stroke;
}

input {
  height: 25px
}